<hr>
<div class="row m-b-18px">
  <div class="col-md-12">
          <a [routerLink]="['/reademployees']" class='btn btn-primary pull-right'>
          <span class='glyphicon glyphicon-list'></span> Read Employees
      </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
      <!-- HTML table for displaying a product details -->
      <table *ngIf="employee" class='table table-hover table-responsive table-bordered'>
          <tr>
              <td class="w-40-pct">Registration ID</td>
              <td>{{employee.EmployeeRegID}}</td>
          </tr>

          <tr>
              <td>Name</td>
              <td>{{employee.Name}}</td>
          </tr>

          <tr>
            <td>Date of Birth</td>
            <td>{{employee.DOB}}</td>
          </tr>

          <tr>
            <td>Current Company</td>
            <td>{{employee.Company}}</td>
          </tr>

          <tr>
            <td>Experience</td>
            <td>{{employee.Experience}}</td>
          </tr>

          <tr>
            <td>Notice Period</td>
            <td>{{employee.NoticePeriod}}</td>
          </tr>

          <tr>
            <td>Primary Skill</td>
            <td>{{employee.PrimarySkill}}</td>
          </tr>

          <tr>
              <td>Employment Type</td>
              <td>{{employee.EmploymentType}}</td>
          </tr>

          <tr>
              <td>Current CTC</td>
              <td>{{employee.CTC}}</td>
          </tr>
      </table>
  </div>
</div>